# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystems are summarized.

#### Objectives
- List of Popular languages used by data scientists.
- List of commonly used libraries in data science.
- List of common open source development environments.
- Examples to demonstrate simple arithmetic operation using Jupyter.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries by Data Scientists include:
1. TensorFlow
2. PyTorch
3. Keras
4. Scikit-learn

| Data Science Tools |
|:------------------:|
|  Jupyter Notebook |
|  Jupyter Lab   | 
|  Apache Zeppelin   |

### Below are few examples of evaluating arithmetic expressions in python.

In [1]:
#This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours.
200/60

3.3333333333333335

## Author
DSG